@tailwind base;
@tailwind components;
@tailwind utilities;


.box {
  --mask:
    radial-gradient(222.03px at 50% 314px, #000 99%, #0000 101%) calc(50% - 314px) 0/628px 100%,
    radial-gradient(222.03px at 50% -157px, #0000 99%, #000 101%) 50% 157px/628px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.box2 {
  --mask:
    linear-gradient(94deg, rgba(255, 165, 0, 1) 0%, rgba(255, 102, 0, 1) 100%) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.padx {
  @apply px-[5%] md:px-[8%];
}

.vendor-form input {
  @apply w-full rounded-lg p-2 md:p-3 outline-none border-primary border caret-primary;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
  /* Removes the default toggle in Edge */
}

input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
  /* Removes the default toggle in WebKit browsers like Chrome */
}

input[type="password"] {
  appearance: none;
  /* For general styling reset */
}

.scroll-cs::-webkit-scrollbar {
  margin-top: 10px;
  width: 6px;
}
.scroll-cs::-webkit-scrollbar-thumb {
  @apply bg-primary bg-opacity-60 rounded-[40px];
  margin-top: 10px;
}
.scroll-cs::-webkit-scrollbar-track {
  @apply bg-primary bg-opacity-30;
  margin-top: 10px;
  border-radius: 40px;
}

.scroll-cs {
  scroll-behavior: smooth; /* Optional for smooth scrolling when programmatically scrolled */
}

.paystack-payment-modal {
  z-index: 1050 !important;
}


@layer base {
  :root {
    --radius:
    0.5rem;
  }
}